sudo: required

services:
  - docker

before_install:
  - sudo curl -L "https://github.com/docker/compose/releases/download/1.11.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose

script:
  - sudo docker-compose up -d
  - wait 5
  - if [[ ! -f "~/contents/unifi/data:/var/lib/unifi/keystore" ]]; then exit 1; fi
